/* .countdown {
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: #ededed;
    padding: 100px;
} */

/* .countdown_container {
    padding: 30px;
    height: 75vh;
    width: 75vw;
    background-color: #ededed;
    border-radius: 20px !important;
    box-shadow: -1px 4px 25px -8px rgb(24, 31, 46);
} */

/* .title-input {
    padding: 5px;
}

.countdown_card {
    padding: 10px;
    border-style: solid;
    width: 25%;
} */