.login {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container {
    padding: 30px;
    height: 50vh;
    width: 70vw;
    text-align: center;
    background-color: #ededed;
    border-radius: 20px !important;
    box-shadow: -1px 4px 25px -8px rgb(24, 31, 46);
} 

.login_input {
    display: flex;
    justify-content: space-around;
}

.input {
    padding: 10px;
}

.submit {
    padding: 10px;
}